<% layout('/layout/page') -%> <% block('title', 'Chat') -%>

<p class="lead">Chat</p>

<script src="socket.io/socket.io.js"></script>

<div id="room">
  <ul>
    <form>
      <input class="form-control" autocomplete="off" autofocus placeholder="Message..." />
    </form>
  </ul>
</div>

<script>
  var socket = io.connect();

  var form = $('#room form');
  var ul = $('#room ul');

  form.submit(function() {
    var input = $(this).find(':input');
    var text = input.val();

    socket.emit('message', text, function(data) {
      $('<li>', { text: text }).appendTo(ul);
    });

    return false;
  });

  socket.on('message', function(text) {
    $('<li>', { text: text }).appendTo(ul);
  });
</script>
