<% layout('/layout/page') -%> <% block('title', 'Hi! ^_^') -%> <% if (user) { %>
<p class="lead">Welcome to chat, <%=user.get('username')%>!</p>
<% } else { %>
<p class="lead">Welcome to chat! Please login or register.</p>
<% } %>
